COMPOSE_PROJECT_NAME=data_lab

PYTHONUNBUFFERED=1

RUNTIME_ROOT=/home/datalab/runtime

AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__DAGS_FOLDER=/home/datalab/airflow/dags
AIRFLOW_HOME=/home/datalab/runtime/airflow

SPARK_HOME=/opt/spark
HADOOP_HOME=/opt/hadoop
HIVE_HOME=/opt/hive

DBT_PROFILES_DIR=/home/datalab/dbt
DBT_PACKAGE_INSTALL_PATH=/home/datalab/runtime/dbt/dbt_packages
TF_DATA_DIR=/home/datalab/runtime/terraform/.terraform

SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2g
DATALAB_SPARK_APP_MAX_CORES=1
HIVE_EXEC_PARALLEL=true
HIVE_EXEC_PARALLEL_THREAD_NUMBER=2
AIRFLOW__CORE__PARALLELISM=16
AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG=8
AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG=4

POSTGRES_DB=datalab
POSTGRES_USER=datalab
POSTGRES_PASSWORD=datalab

MONGO_DB=datalab
MONGO_ROOT_USERNAME=datalab
MONGO_ROOT_PASSWORD=datalab
